{% extends 'main.html' %}

{% load static %}

{% block content  %}

<div>

	{{request.user}}

	<h1 id="room-name"> Room Name :  </h1>

	<p> My Name </p>

	<section class='box' id  = 'video-streams'></section>


	<div>
		
		<div id = 'audio' ><h1>AUDIO</h1></a>
		<div id ='video'><h1>VIDEO</h1></div>
		<div id ='leave'>Leave</div>

	</div>


	<div id = 'test' >
		
		<h1>test</h1>

	</div>


</div>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.13.0.js' %}"></script>

<script type="text/javascript" src="{% static 'js/streams.js' %}" >
	
</script>



{% endblock content %} 