{% extends 'main.html'%}

{% block content  %}
<div class="login-page">
          <div class="form-box">
	<form method="POST" class="input-group-register">
		
		{% csrf_token %}
		<input type="text" class="input-field" name="name" placeholder="name">
		<br>
		<input type="text" class="input-field" name="username" placeholder="uname">
		<br>
		<input type="text" class="input-field" name="email" placeholder="email">
		<br>
		<input type="text" class="input-field" name="password" placeholder="password">
		<br>

		<input type="checkbox" name="moderator" value='1' > Moderator

		<br>
		<input type="submit" name="">

	</form>
</div>
</div>

{% endblock content %} 